* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  display: flex;
  justify-content: space-between;
  margin: 87px 120px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: black;
  gap: 34px;
  cursor: pointer;
}

#navbar .nav-item .nav-menu img {
    width: 19px;
    height: 19px;
    cursor: pointer;
}

#section-1{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position:right;
    display: flex;
    justify-content: space-between;
    margin: 80px 120px;
}
